*{
	box-sizing: border-box;
}
body{
	margin: 5px;
	padding: 0;
}
section{
	
	background-color:grey;
	border: 3px solid black;
	box-sizing: border-box;
	margin: 5px;
	padding: 10px;
}

h3{
	text-align: center;
	border: 3px solid black;
	box-sizing: border-box;
	float: right;
	position: relative;
	bottom: 31px;
	left: 13px;
}

h1{
	text-align: center;
}

#html{
	background-color: pink;
	width: 20%;
}

#css{
	background-color: red;
	color: white;
	width: 15%;
}

#JS{
	background-color: lightyellow;
	width: 23%
}
.row{
	width: 100%;
}

@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33.33%;
	}
	#JS{
		width: 33%;
	}
}

@media (max-width: 991px) and (min-width: 768px){
	.col-md-12,.col-md-6{
		float: left;
	}
	.col-md-12{
		width: 100%;
	}
	.col-md-6{
		width: 50%;
	}
	#JS{
		width: 18%;
	}
}

